.contact-container{
    /* background-image: url("../../assets/img/background/background.webp"); */
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    width: 100%;
  text-overflow: ellipsis;
  }
  
.contact-item{
    display: flex;
    flex-direction: column;
    color: #000;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding: 0;
    z-index: 10;
}
@media only screen and (max-width: 500px){
  .contact-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #000;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 0;
    z-index: 10;
} 
}
