.contact-jumbotron {
    background-image: url("../../assets/img/background/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
  }
  
.contact-item{
    display: flex;
    flex-direction: column;
    color: #000;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin: 0 .5rem;
    z-index: 10;
}
