.social-icons
{
top: 35%;
height: 0;
transform: translateY(40px);
position:sticky;
width:80px;
}
.social-icons ul
{
padding:initial;
}
.social-icons ul li
{
z-index: 10000;
height:40px;
width:40px;
list-style-type:none;
padding-left:12px;
padding-top: 6px;
margin-top:5px;
color:#000;
background:#fff;
}
.social-icons ul li:hover
{
color: #fff;
background-color: #000;
padding-left:30px;
width:80px;
transition:.6s;
}
.social-icons ul li .fa
{
padding-top:10px;
text-align: center
}
@media only screen and (max-width: 600px){
    .social-icons
    {
    top: 35%;
    height: 0;
    transform: translateY(40px);
    position:sticky;
    width:80px;
    }
    .social-icons ul li:hover
    {
    color: #fff;
    background-color: #000;
    padding-left:15px;
    width: 45px;
    transition:.6s;
    }
}